
*{
    margin: 0;
    padding: 0;
}

/*-----Nav bar med links man kan klikke videre på------*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content:space-between ;
    align-items: center ;
    background-color: #faedcd;
}
nav img{
    width: 203px;
    height: 65px;
}
.nav-links {
    flex: 1;
    text-align:right; 
}   
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px ;
    position: relative;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
.nav-links ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: o,1s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/*----styling af text-box herunder textstørrelserne, farve osv----*/
.text-box{
    width: 90%;
    color:white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform:translate(-50%,-50%) ;
    text-align: center;
}
.text-box h1 {
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: black;
    line-height: 1.6;
}

.text-box h2 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: black;
}

.text-box p{

    margin: 10px 0 40px;
    font-size: 20px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #dd614a;
}

   /*----stlying af tap for at trykke videre for at downloade---*/
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid #faedcd;
    padding: 12px 34px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    position: relative;
    cursor: pointer;
    background-color: #faedcd;
    border-radius: 25px;

}

/*---Farve til "download boksen"---*/

.hero-btn:hover{
    border: 1px solid #f1e1b6;
    background: #f1e1b6;
    transition: 1s;
}




p {
    font-size: 15px;
    text-align: center;
    color:white !important;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    line-height: 1.8;
    overflow-y: hidden;
}

.blacksection {
    background-color: black;
    height: 80px;
    justify-content: center;
    position: relative;
    padding: 50px; 
    text-align: center;
}

.blacksectiontext {
    padding-bottom: 10%;
    align-self: center;
}

.blacksection {
    justify-content: space-evenly;
    padding-top: 5%;
    text-align: center;
    align-content: center;
}


#main-footer {
    background-color: #FAEDCD;
    color: #244596;
    width: 100%;
    text-align: center;
    display: flex;
    font-weight: bold;
    bottom: 0;
    flex-direction: column;
    padding: 20px;
   }

#main-footer a {
    text-decoration: none;
    color: #000;
  }

#main-footer p {
    color: #000 !important;
}

@media(max-width: 650px) {

    .nav-links ul li{
      text-decoration: none;
      padding: 0.5rem 0.5rem;
      color: #976649;
      display: block;
      text-align: center;
      font-size: 18px;
      margin-right: 20px;
      font-weight: bold;
    }

    .nav-links ul li{
      display: flex; 
      list-style: none;
      justify-content: center;
      text-transform: uppercase;
    }
  
    .logo {
      position: absolute;
      left: 50%;
      margin-left: -100px !important;
      margin-top: -15px !important;
      display: block;
      padding-top: 30px !important;
    }
  
    .h1 {
        font-size: 1px;
    }

    .monitor {
        width: 30%;
    }

    .text-box {
        padding-bottom: 15rem;
    }

    .blacksection {
        position: fixed;
        padding-top: 50px;
        margin-top: 14em;
        margin-bottom: 15rem;
    }

    footer {
        margin-top: ;
        bottom: 0;
        position: fixed;
    }
}
